h1 { 
	color: blue;}

img {width: 400px;}

.thirdDiv {height: 600px;
			width: 500px;}

.thirdDiv {background-color: yellow;}

.spanId {margin: 50px;}
.thirdDiv {padding: 50px;}
.thirdDiv {border-color: 60px;}
